<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <!-- LINK TO FONTAWESOME -->
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"> -->
        <script src="https://use.fontawesome.com/200c567139.js"></script>
        <!-- LINK BOOTSTRAP -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

        <!-- LINK TO MY CSS -->
        <link rel="stylesheet" href="css/style.css">

        <!--LINK TO AL-STRAP  -->
        <!-- <link rel="stylesheet" href="css/al-strap.css"> -->

        <!-- LINK TO VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

        <!-- LINK TO JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- LINK TO JS FUNCTIONS -->
        <script src="data.js" charset="utf-8"></script>
        <script src="emoji.js"></script>
        <title>New Project</title>
    </head>
    <body>
<!-- container row col -->
      <div id="root" class="container ">

          <div class="row flex">
            <!--ASIDE ASIDE ASIDE  -->
            <aside class="col-4 ">

                    <header >

                              <div class="item-container flex">

                                    <div class="left-item-container flex">

                                          <img class="avatar" src="css/img/avatar_7.jpg" alt="">

                                          <div class="user-details-container">

                                                <h3>Nome Utente</h3>
                                                <!-- <p>Ultimo accesso:</p> -->

                                          </div>

                                    </div>

                                    <div class="three-icos-container">

                                          <i class="ico fa fa-circle-o-notch" aria-hidden="true"></i>
                                          <i class="ico fa fa-comment" aria-hidden="true"></i>
                                          <i class="ico fa fa-ellipsis-v" aria-hidden="true"></i>

                                    </div>

                              </div>

                    </header>

                    <!-- NOTIFICATIONS-->

                    <div class="item-container notifications flex">

                          <div class="left-item-container flex">

                                <i class="special-ico fa fa-bell-slash" aria-hidden="true"></i>

                                <div class="notifications-container">

                                      <p> Ricevi notifiche di nuovi messaggi</p>
                                      <a href="#"> <p> Attiva notifiche desktop </p> </a>

                                </div>

                          </div>

                    </div>

                    <!-- CONTACT LIST -->
                    <section class="contact-list">

                            <!-- SEARCH_FIELD_CONTAINER -->
                            <div class="search-field-container flex">

                                  <i class="ico special-search-ico fa fa-search" aria-hidden="true"></i>
                                  <input v-model="searchEl" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">

                            </div>
                            <!-- CONTACT-LIST -->
                            <div class="list-container">

                                    <ul>
                                          <li v-for="(contact, index) in filteredArray">

                                                <div class="item-container flex" @click="getAnElementByIndex(index)" type="button" name="button" :value="index">

                                                      <div class="left-item-container flex">

                                                            <img class="avatar" :src="(contact.imgSrc)" alt="">

                                                            <div class="user-details-container">

                                                                  <h3>{{contact.name}}</h3>
                                                                  <p>{{contact.lastAccess}}</p>

                                                            </div>

                                                      </div>

                                                      <div class="three-icos-container border">

                                                            <i class="ico fa fa-search" aria-hidden="true"></i>
                                                            <i class="ico fa fa-paperclip" aria-hidden="true"></i>
                                                            <i class="ico fa fa-ellipsis-v" aria-hidden="true"></i>

                                                      </div>

                                                </div>
                                          </li>

                                    </ul>

                            </div>

                    </section>

            </aside>

            <!-- MAIN MAIN MAIN -->
            <main class="col-8">

                    <header>

                            <div class="item-container flex">

                                  <div class="left-item-container flex">

                                        <img class="avatar" :src="(actualContact.imgSrc)" alt="">

                                        <div class="user-details-container">

                                              <h3>{{actualContact.name}}</h3>
                                              <p>Ultimo accesso oggi alle: {{actualContact.lastAccess}}</p>

                                        </div>

                                  </div>

                                  <div class="three-icos-container">

                                        <i class="ico fa fa-search" aria-hidden="true"></i>
                                        <i class="ico fa fa-paperclip" aria-hidden="true"></i>
                                        <i class="ico fa fa-ellipsis-v" aria-hidden="true"></i>

                                  </div>

                            </div>

                    </header>

                    <section class="chat">

                          <ul>

                              <li class="messages-container" v-for="(message, index) in actualContact.messages">

                                 <div class="row">

                                      <div class="message" :class="message.state">

                                          <p>{{message.textContent}}</p>
                                          <span>{{message.date}}</span>

                                      </div>

                                  </div>
                              </li>

                          </ul>
                          <div class="emo-container flex" :class="isVisible" @mouseLeave="changeVisibilityClass" >

                                    <ul>

                                          <li v-for="(emo, emoIndex) in emojiArray" @click="getAnEmoByIndex(emoIndex)"class="flex">

                                              <div class="">{{emo.emoji}} </div>

                                          </li>

                                    </ul>


                          </div>

                    </section>



                    <section class="send-message-section">

                              <div class="text-input-container flex">

                                    <i @click="changeVisibilityClass" class="ico fa fa-smile-o" aria-hidden="true"></i>
                                    <textarea   v-model="textContent" v-on:keydown.enter="getMessage()" class="input-message" type="text" name="" value="" placeholder="Scrivi un messaggio"></textarea>
                                    <i class="ico fa fa-microphone" aria-hidden="true"></i>

                              </div>

                    </section>

            </main>

      </div>

  </div>


        <script src="script.js"></script>
    </body>

</html>
